@charset "utf-8";
/* CSS Document */

/*.ch{
    height: 210px;
}*/
div{
    font-family: 'Italianno';
    font-size: 25px;
}

/*CSS for the navigation bar: 
a.active -keeps the highlight on the nav link while on the page. Requires "active" to be in the <a> tag class of the page.
a:active -highlight link while it is being clicked
a:hover -highlight link while it's hovered over. */
#topNav a.active, #topNav a:active, #topNav a:hover{ 
        background-color: #4000d6bd;
        color: white;
}
